<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form>
	<input id="input" type="text" name="video" placeholder="Enter URL Here." >
	<button id="convert" type="submit" data-ok="1">Convert</button>
</form>
<div id="mp3-dl"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function ytVidId(url) {
	var p = /((http|https)\:\/\/)?(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*[^\w\s-])([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/ig;
    return (url.match(p)) ? RegExp.$3 : false;
}
$(document).on('click', '#convert', function(e) {
	e.preventDefault();
	$('#mp3-dl').text('Generating Links...');
	var ok = $(this).attr("data-ok");
	var url = document.getElementById("input").value;
	var ytid = ytVidId(url);
	if(ok == '1'){
		if(ytid){
			$('#convert').attr("data-ok", "0");
			mp3Conversion(ytid);
			$('#convert').attr("data-ok", "1");
		}else{
			$('#mp3-dl').text('Invalid Input');
		}
	}	
});
function mp3Conversion(id){
	$.ajax({
		type: 'GET',
		url: 'backend.php',
		data:{'id':id},
		success: function(data, textStatus, request){				
			if(data.status == "ok") {
				var dlink = data.link + '&dom=Iframe';
				$("#mp3-dl").html('<a href="' + dlink + '">Download MP3 - ' + data.title + '</a>');
			} else if (data.status == "processing"){
				if(data.progress){
					if(parseInt(data.progress) < 10){
						$("#mp3-dl").text('Converting ' + '10%'); 
					}else{
						$("#mp3-dl").text('Converting ' + data.progress+'%');
					}
				}
				setTimeout(function(){mp3Conversion(id);}, 2000);
			} else {
				$('#mp3-dl').text('Download Error !');
			}			
		}
	});
}
</script>
</body>
</html>