/* Container for the entire component */
.downloaded-songs {
  padding: 20px;
  background-color: #121212; /* Ciemne tło dla black mode */
  min-height: 90vh; /* Zapełnia całą wysokość ekranu */
  color: #e5e5e5; /* Jasnoszary tekst */

  border-radius: 20px;
}

/* Back button styles */
.back {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #333; /* Ciemny przycisk tła */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 999;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e5e5;
    text-decoration: none;
  }

  &:hover {
    background-color: #555; /* Jaśniejszy cień przy hover */
  }
}

/* Header styling */
.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #e5e5e5; /* Jasny tekst */
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #444; /* Ciemna linia pod nagłówkiem */
  width: 100%;
  max-width: 600px;
}

/* Song list container */
.song-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

/* Individual song item styling */
.song-item {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #1f1f1f; /* Ciemniejsze tło dla elementów */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #444;

  &:hover {
    background-color: #333; /* Jaśniejsze tło przy hover */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  }
}

/* Like button styling */
.like-button {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ff0000; /* Czerwony kolor jak w YouTube */
  }
}

/* Song image styling */
.song-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05); /* Efekt powiększenia przy hover */
  }
}

/* Song title styling */
.song-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #e5e5e5; /* Jasny tekst */
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Song duration styling */
.song-duration {
  font-size: 0.9rem;
  color: #aaa; /* Jaśniejszy szary dla czasu */
  margin-left: auto;
  white-space: nowrap;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .song-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .song-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .song-title {
    font-size: 1rem;
  }

  .song-duration {
    font-size: 0.85rem;
    margin-left: 0;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
