.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  .title {
    font-size: 36px;
    color: var(--global-text);
  }
}
main {
  display: flex;
  align-content: center;
}
h2 {
  margin: 10px;
}
