.light {
  --background: #c2d8ff;
  --text: #19212f;
  --button-background: rgb(144, 182, 231);
  --button-background-hover: #5d84bb;
}
.dark {
  --background: rgb(68, 88, 117);
  --text: #fff;
  --button-background: rgb(108, 175, 190);
  --button-background-hover: #526d91;
}

.songs {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 850px) {
    grid-template-columns: 1fr;
  }
  gap: 20px;
  list-style-type: none;
  padding: 20px;
  margin-bottom: 200px;

  .song {
    color: var(--text);
    display: flex;
    padding: 10px;
    height: 375px;
    width: 330px;
    @media screen and (max-width: 850px) {
      width: 80%;
    }
    background-color: var(--background);
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;

    .song__img__component {
      color: #fff;
      position: relative;

      .time {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 2px;
      }

      .song__image {
        width: 320px;
        height: 240px;

        border-radius: 10px;
      }

      img {
        border-radius: 10px;
      }
    }
  }
}
