.Spinner {
  animation: 1s spinning infinite;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(45deg);
  }
  20% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(135deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(225deg);
  }
  60% {
    transform: rotate(270deg);
  }
  70% {
    transform: rotate(315deg);
  }
  80% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
