.disable {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20px;
  background-color: #0d1523;
  overflow: hidden;
  transition: height 0.5s ease;
}

.disable ul,
.disable .social,
.disable .copyright {
  display: none;
}

.active {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #1e2736;
  color: #c9e4ff;
  overflow: hidden;
  transition: padding 0.5s ease;
}

.active ul,
.active .social,
.active .copyright {
  display: block;
}

.active ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.active li {
  padding: 0 10px;
}

.active ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.active ul a:hover {
  opacity: 1;
}

.active .social {
  text-align: center;
}

.active .social > a {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.active .social > a:hover {
  opacity: 0.9;
}

.active .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
