.songs {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding-top: 20px;

  .song {
    display: flex;
    padding: 10px;
    background-color: rgb(68, 88, 117);
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;

    .song__img__component {
      position: relative;

      .time {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 2px;
      }

      .song__image {
        width: 320px;
        height: 240px;
        border-radius: 10px;
      }

      img {
        border-radius: 10px;
      }
    }
  }
}
