.audio-player {
  display: flex;
  flex-direction: column;
}

.audio-player > .songs {
  text-decoration: none;
}

.song {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  flex: 1;
  width: 100vh;
  margin: 5px;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 10px 0px;
}
.controlers {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
}
